
<!-- Header-->
<div class="container-fluid hidden-xs hidden-sm">
    <div class="row">
          <div class="col-md-8 col-md-offset-4 linhafundo1">

          </div>
    </div>
    <div class="container">
          <div class="row">
              <div class="col-md-4">
                    <div class="row">
                        <div class="logotipo">
                              <a href="#"><img src="build/images/logo.png"></a>
                        </div>
                    </div>
              </div>
              <div class="col-md-8">
                    <div class="info">
                        <b style="color:#1A4C9D;">INFORMAÇÕES </b>(62) 3098-1416/99636-7686
                    </div>
                    <div class="menu">
                        <ul>
                              <li><a href="#/" style="color:#1A4C9D; float:right">VOLTAR</a></li>
                        </ul>
                    </div>
              </div>
          </div>
    </div>
</div>
<!-- menu mobile-->
<div class="container-fluid hidden-md hidden-lg alinhar1">
    <div class="row">
          <div class="container">
              <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <div class="col-md-6 col-md-offset-3">
                              <center>
                                  <div class="row">
                                        <img src="/build/images/logo.png">
                                  </div>
                              </center>
                        </div>
                        <div class="col-xs-8 col-sm-8">
                              <div class="row">
                                  <nav class="navbar navbar-inverse navbar-fixed-top">
                                        <div class="container navbaredit">
                                            <div class="navbar-header navbaredit">
                                                  <button type="button" class="navbar-toggle navbaredit collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                      <span class="sr-only">Toggle navigation</span>
                                      <span class="icon-bar"></span>
                                      <span class="icon-bar"></span>
                                      <span class="icon-bar"></span>
                                  </button>
                                            </div>
                                            <div id="navbar" class="navbar-collapse in navbaredit" aria-expanded="true">
                                                  <ul class="nav navbar-nav">
                                                      <li><a href="insc.html">VOLTAR</a></li>
                                                  </ul>
                                            </div>
                                        </div>
                                  </nav>
                              </div>
                        </div>
                    </div>
              </div>
          </div>
    </div>
</div>