<!-- preloader -->
<preloader class="preloader ng-hide"></preloader>
<!-- /preloader -->

<!-- sidebar panel -->
<div class="content-header" data-ng-include="'views/common/header.html'"></div>
<!-- /sidebar panel -->

<!-- content panel -->
<div class="main-panel">

  <!-- main area -->
  <div class="main-content" data-ui-view></div>
  <!-- /main area -->

</div>
<!-- /content panel -->

<!-- bottom footer -->
<footer class="content-footer" data-ng-include="'views/common/footer.html'"></footer>
<!-- /bottom footer 